.navbar.navbar-default.navbar-top(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') Rate the mugshot
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href='/') Home
                li
                    a(href='/top') Top
                li
                    a(href='/skanky') Skanky
    